.letter {
    white-space: pre-wrap;
    font-size: 20px;
    color: gainsboro;
    position: relative;
    &.correct {
        color: black !important;
    }
    &.failed {
        color: #ff443a !important;
    }
    &.current {
        text-decoration: underline;
    }
}
