.letter {
	white-space: pre-wrap;
	font-size: 20px;
	color: #868686;
	&.current {
		position: relative;
	}
	&.bgwrong {
		background-color: #ff60904e !important;
	}
	&.correct {
		color: white !important;
		text-shadow: 0 0 5px #33ffcfc6, 0 0 10px #33ffcfb1, 0 0 20px #33ffcf9d;
	}
	&.wrong {
		color: #ff1495 !important;
		text-shadow: 0 0 5px #ff1495, 0 0 10px #ff1495, 0 0 20px #ff1495;
	}
}

.cursor {
	position: absolute;
	background-color: #ffffd7;
	transition: 0.3s;
}

.cursor1 {
	opacity: 0.7;
	animation: blink infinite 1s ease-in-out;
	border-radius: 5px;
	margin-left: 2px;
}

.cursor2 {
	opacity: 0.5;
	animation: blink infinite 1s ease-in-out;
	border-radius: 1px;
	margin-left: 0.4px;
}

@keyframes blink {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.5;
	}
}