.letter {
	position: relative;
	white-space: pre-wrap;
	font-size: 20px;
	color: #868686;
	&.bgwrong {
		background-color: #ff60904e !important;
	}
	&.correct {
		color: white !important;
		text-shadow: 0 0 5px #33ffcfc6, 0 0 10px #33ffcfb1, 0 0 20px #33ffcf9d;
	}
	&.wrong {
		color: #ff1495 !important;
		text-shadow: 0 0 5px #ff1495, 0 0 10px #ff1495, 0 0 20px #ff1495;
	}
}
.cursor1 {
	position: absolute;
	background-color: #ffffd7;
	opacity: 0.7;
	height: 80%;
	width: 2px;
	right: 0px;
	top: 10%;
	animation: blink infinite 1s ease-in-out;
	border-radius: 5px;
}

.cursor2 {
	position: absolute;
	background-color: #ffffd7;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	animation: blink infinite 1s ease-in-out;
	border-radius: 1px;
}

@keyframes blink {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.5;
	}
}