.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  
  .row {
    display: flex;
    gap: 4px;
  }
}

.key {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22293b;
  color: #ffe44e;
  .text {
    opacity: 0;
    transition: 0.5s; 
  }
  .active {
    opacity: 1 !important;
  }
}

.backspace {
  width: 90px !important;
}
.tab {
  width: 67.5px !important;
}
.backslash {
  width: 57.5px !important;
}
.enter {
  width: 84px !important;
}
.capslock {
  width: 80px !important;
}
.shift {
  width: 101.5px;
}
.ctrl {
  width: 70px;
}
.alt {
  width: 41.5px;
}
.space {
  width: 280px;
}