.keyboard {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  
  .row {
    display: flex;
    gap: 4px;
  }
}

.key {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22293b;
  border: 2px solid #ffffff00;
  transition: border-color 0.5s; 
  .text {
    color: #2e374c;
    transition: 0.5s;
  }
  .active {
    // color: #ffe44e;
    color: #33ffcf;
  }
}
.active {
  // border-color: #ffe44e;
  border-color: #33ffcf;
}

.backspace {
  width: 90px !important;
}
.tab {
  width: 67.5px !important;
}
.backslash {
  width: 57.5px !important;
}
.enter {
  width: 84px !important;
}
.capslock {
  width: 80px !important;
}
.shift {
  width: 101.5px;
}
.ctrl {
  width: 70px;
}
.alt {
  width: 41.5px;
}
.space {
  width: 280px;
}